body {
  margin: 0;
  padding: 0;
  background-color: #56657F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#root{
  width: 100%;
}
